        body{
                background-color: #f3f3f3;
                text-align: center;
            }
        p#heading{
              margin-top: 7px;
              margin-bottom: 0px;
              font-size: 3em;
         }
        table{
                   border-collapse: collapse;
                   margin: 42px auto;
                   width: auto;
             }

        input[type="button" i], input[type="submit" i], input[type="reset" i], input[type="file" i]::-webkit-file-upload-button, button{
                    padding: 0px;
                    border:none;
                 }     
        td{
               padding: 75px 80px;
          }
        .rb{
               border-right: 6px solid #ea4040;
               border-bottom: 6px solid #ea4040;

           }
        .r{
              border-right: 6px solid #ea4040;
          }
        .b{
              border-bottom: 6px solid #ea4040;
          }
        .circle{
                   background-image: url("circle.png");
                   background-size: 87% 100%;
                   background-repeat: no-repeat;
                   background-position: center;
               }
        .cross{
                   background-image: url("cross.png");
                   background-size: 87% 100%;
                   background-repeat: no-repeat;
                   background-position: center;
               }
               
                    